
.increment:hover{
    background-color: azure;
    font-size:x-large;
    
}
p{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    padding-left: 4ch;
}
h2{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: cornflowerblue;
    padding-left: 30px;
}
h1{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-style: initial;
    font-weight: bolder;
    color: blue;
    padding-left: 20px;
}
h3{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: cadetblue;
    padding-left: 4ch;
}
body {
    background-color:aliceblue;
}

