
.increment:hover{
    background-color: rgb(201, 214, 248);
    text-shadow: 4px 4px 5px rgb(248, 248, 248);
    font-size:x-large;
    box-shadow: 14px 11px rgba(156, 156, 224, 0.2);
}
p{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    padding-left: 4ch;
}
h2{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: cornflowerblue;
    padding-left: 30px;
}
h1{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-style: initial;
    font-weight: bolder;
    color: rgb(27, 130, 190);
    padding-left: 20px;
}
h3{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(140, 167, 235);
    padding-left: 4ch;
}
body {
    background-image: linear-gradient(rgba(189, 156, 233, 0.5), rgba(197, 184, 243, 0.5), rgba(187, 239, 243, 0.5));
}

